/src
/.github
/.vscode
/node_modules
/.devcontainer.json
/.eslintrc.json
/.gitignore
/.prettierignore
/.prettierrc.json
/codecov.yml
/codeforlife.code-workspace
<!-- /package.json -->
/README.md
/setup
/tsconfig.json
/tsconfig.node.json
/vite.config.ts
<!-- /yarn.lock -->
/index.html
